<h1>Node JS Web Server</h1>
    
<h3>Halo Mas Ilham</h3>
<h3>Links</h3>
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/contact">Kontak</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
</ul>