<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/WhatsApp Image 2022-09-03 at 6.01.09 PM.jpeg" alt="asraf" class="rounded-circle" width="250">
            <h1 class="display-4"> Asraf</h1>
            <p class="lead"> Developer</p>
        </div>
    </div>
</div>